@use "../../../styles/partials/mixins" as mixins;

.responsibilities {
    &__add {
        @include mixins.floating-control;
        margin-left: 1.5rem;
    }

    &__add-img {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
    }
}