@use "../../../styles/partials/mixins" as mixins;

.contacts {
    padding: 1rem 3rem;
    background-color: rgb(241, 241, 241);
    display: flex;
    @include mixins.text;
    align-items: flex-start;

    &__left {
        flex: 1;
    }

    &__contact {
        display: flex;
        align-items: baseline;
    }

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
    }

    &__socials {
        position: relative;
        flex: 1;
    }

    &__add-social {
        @include mixins.floating-control;
        bottom: -22px;
    }

    &__add-social-img {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;

    }

    // &__subtract-social {
    //     position: absolute;
    //     right: 0;
    //     bottom: 0;
    // }

    // &__subtract-social-img {
    //     width: 1.5rem;
    //     height: 1.5rem;
    //     cursor: pointer;
    // }

    &__link {
        display: block;

        &--linkedin {}

        &--github {}

        &--stackoverflow {}
    }
}