@use "../../../styles/partials/mixins" as mixins;

.skills {
    padding: 0 3rem;
    display: flex;
    margin: 2rem 0;
    align-items: center;
    position: relative;

    &__title {
        width: 20%;
    }

    &__text {
        width: 80%
    }

    &__content {
        display: flex;
        flex-wrap: wrap
    }

    &__add-skill {
        @include mixins.floating-control;
        position: static;
        display: flex;
        align-items: center;
    }

    &__add-skill-img {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
    }

}