@use "../../styles/partials/mixins" as mixins;

.social-item {
    display: flex;
    align-items: baseline;
    position: relative;
    margin-bottom: 0.3rem;

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
    }

    &__link {
        display: block;

    }

    &__social {
        position: absolute;
        right: -2.2rem;
        bottom: 0;
    }

    &__substract {
        @include mixins.floating-control;
    }

    &__subtract-img {
        width: 1.5rem;
        height: 1.5rem;
    }
}