@use "../../styles/partials/mixins" as mixins;

// :root {
//     --skill-color: green;
// }

// :root {
//     --cv-theme: red
// }

.editor {
    background-color: rgb(241, 245, 249);
    @include mixins.section-spacing;

    &__wrapper {
        @include mixins.wrapper;
    }

    &__template {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__document {
        width: 80rem;
        height: 90rem;
        background-color: #fff;
        margin-top: 3rem;
        position: relative
    }

    &__delete-page {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        position: absolute;
        right: 2rem;
        top: 2rem;
        filter: invert(31%) sepia(80%) saturate(5496%) hue-rotate(232deg) brightness(98%) contrast(99%);
        transition: all 100ms linear;

        &:hover {
            width: 1.7rem;
            height: 1.7rem
        }
    }

    &__add-page {
        @include mixins.text;
        margin-top: 1rem;
        padding: 9px;
        text-align: center;
        color: #2d405f;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            color: #3b4ef8;
        }
    }
}

.resume {
    padding: 4rem 0;
}

.cv-subtitle {
    @include mixins.resume-experience-title;
}