@use "../../../styles/partials/mixins" as mixins;

.education-item {
    display: flex;
    align-items: center;

    position: relative;

    &__dates {
        flex: 1;

    }

    &__dates-date {
        @include mixins.resume-date;
        line-height: 2.2rem;
    }

    &__dates-location {
        @include mixins.resume-location;
    }

    &__university {
        flex: 1;
    }

    &__university-name {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2.2rem;
    }

    &__university-degree {
        font-size: 1.2rem;
        line-height: 1.8rem
    }

    &__subtract {
        @include mixins.floating-control;
        right: -0.5rem;
        top: -1rem;
    }

    &__subtract-img {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
    }

}