@use "../../../styles/partials/mixins" as mixins;

.experience {
    padding: 0 3rem;


    &__history {
        margin: 2rem 0;
    }



    &__add-img {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
    }
}

.responsibilities {
    &__title {
        @include mixins.resume-date;
        margin-bottom: 0.5rem;
    }

    &__item {
        @include mixins.cv-text;
    }
}